#input {
    border: 1px solid;
    box-sizing: border-box;
    padding: 20px;
}

textarea {
    height: 60vh;
    width: 400px;
    resize: none;
    background-color: black;
    padding: 10px;
    border: none;
}


